.orbit {
    stroke : #000000;
    fill : none;
}
.planetOrbit {
    stroke : #000000;
    fill : #FFFFFF;
}
.sun {
    stroke : yellow;
    fill : yellow;
}
.Alderaan { fill: rgb(197,27,125); }
.Yavin IV { fill: rgb(222,119,174); }
.Hoth { fill: rgb(241,182,218); }
.Dagobah { fill: rgb(253,224,239); }
.Bespin { fill: rgb(247,247,247); }
.Endor { fill: rgb(230,245,208); }
.Naboo { fill: rgb(184,225,134); }
.Coruscant { fill: rgb(127,188,65); }
.Kamino { fill: rgb(77,146,33); }
.Geonosis {fill: #FFFFFF;}

div.download-section {
	background-image: url(../img/Star_of_the_universe.jpg);
	background-repeat:no-repeat;
}
